.extracurricular-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-auto-rows: 18rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.extracurricular-page h1 {
    font-size: 2rem;
    text-align: center;
}
