.extracurricular-page {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 1280px;
    margin: 0 auto;
}

.extracurricular-page h1 {
    font-size: 2rem;
    text-align: center;
}
