.extracurricular-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.extracurricular-page h1 {
    font-size: 2rem;
    text-align: center;
}
