.extracurricular-card {
    position: relative;
    text-align: center;
}

.extracurricular-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 6px #fff;
}

.extracurricular-card img {
    height: 15rem;
    width: 20rem;
    object-fit: cover;
    opacity: 25%;
    box-shadow: 5px 5px #878787;
}

.extracurricular-image:hover {
    opacity: 100%;
    transition: 0.5s ease;
}

.extracurricular-image:hover ~ .extracurricular-title,
.extracurricular-link:hover ~ .extracurricular-title {
    display: none;
}