.extracurricular-card {
    margin: auto;
    height: 15rem;
    width: 20rem;
    position: relative;
    text-align: center;
    box-shadow: 5px 5px #878787;
}

.extracurricular-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.extracurricular-card img {
    height: 15rem;
    width: 20rem;
    object-fit: cover;
    opacity: 50%;
}

.extracurricular-image:hover {
    opacity: 100%;
    transition: 0.5s ease;
}

.extracurricular-image:hover ~ .extracurricular-title,
.extracurricular-link:hover ~ .extracurricular-title {
    display: none;
}