footer {
    background-image: url('../assets/page-background.png');
    background-position: 0% 90%;
    background-size: cover;
    padding: 1rem;
    font-size: 0.75rem;
    color: #fff;
    text-align: center;
}