.project-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-image {
    margin: 1rem 0;
    max-height: 15rem;
    object-fit: cover;
    object-position: top;
    border: 1px solid #000;
}

.project-year {
    font-style: italic;
}

.project-links {
    display: flex;
}

.project-links a {
    width: 3rem;
}

.project-links img {
    height: 2rem;
}

.project-card li {
    font-size: 0.75rem;
}

@media (min-width: 720px) {
    .project-card {
        flex-direction: row;
        gap: 3rem;
    }

    .project-image {
        width: 18rem;
        margin: 0;
        object-position: left;
    }
}